/* Reset some default styles in browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Use the color palette */
:root {
    --title: #AD8B73;
    --writings: #CEAB93;
    --coding: #E3CAA5;
    --font-color: #FFFBE9;
}

/* Style the body */
body {
    font-family: 'Noto Serif Makasar', serif;
    line-height: 1.6;
    background-color: var(--font-color);
    color: var(--font-color);
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

/* Style the navigation */
nav ul {
    background-color: var(--title);
    overflow: hidden;
    color: var(--font-color);
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 1.2em;
    margin-right: 15px;
}

/* Header styles */
header {
    background-color: var(--title);
    height: 100vh;
    text-align: center;
    color: var(--font-color);
}

#title-section .title-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    font-weight: 700;
}

/* Writings section */
#writings {
    background-color: var(--writings);
    color: var(--font-color);
    height: 100vh;
    padding: 50px;
    text-align: center;
}

#writings h1 {
    font-size: 50px;
}
#writings ul {
    list-style: none;
    padding: 0;
}

#writings ul li {
    background-color: var(--coding);
    display: inline-block;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

#writings ul li a {
    color: var(--font-color);
    text-decoration: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
  background-color: var(--title);
  padding: 10px;
  border-radius: 10px;
  width: 30%;  /* You can adjust this as necessary */
  margin: 1em;
}

.card-title {
  font-size: 2em;
  color: white;
  text-decoration: none;
}

.card-title a {
    color: var(--font-color);
}

.card-text {
  color: white;
  font-size: 1em;
}

.read-more {
  color: #add8e6;  /* light blue */
  text-decoration: none;
}


.btn-primary {
    color: var(--title); /* Set the button text color to match the card color */
    background-color: white; /* Set the button background color to white for contrast */
    border: none; /* Remove the default button border */
}

/* Coding projects section */
#coding-projects {
    background-color: var(--coding);
    height: 100vh;
    padding: 50px;
    text-align: center;
    color: var(--font-color);
}

#coding-projects h2 {
    margin-bottom: 30px;
}



/* Footer */
footer {
    background-color: var(--title);
    color: var(--font-color);
    text-align: center;
    padding: 10px 0;
}

/* Random Thought Generator */
#random-thought {
    margin-top: 20px;
}

#random-thought button {
    background-color: var(--coding);
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--font-color); /* Change button text color to white */
}

#thought {
    margin-top: 20px;
}

/* Writings */
#writings-header {
    height: 60px !important; /* or any height you prefer */
    padding: 10px !important;
    text-align: center;
    background-color: #AD8B73;
}
#writings-header h1 {
    margin: 0 !important;
    padding: 0 !important;
    color: #FFFBE9;
    font-size: 24px; /* or any font size you prefer */
}
#writings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.writings-box {
    background-color: var(--coding);
    padding: 20px;
    margin: 20px;
    border: 1px solid #CEAB93;
    max-width: 800px;
    width: 100%;
}

.writings-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--font-color);
}

.writings-content {
    font-size: 16px;
    color: #FFFBE9;
}

